<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список профессий</title>
</head>
<body>
<h1>Список профессий</h1>
{% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', "климатолог", "специалист по радиационной защите", "астреолог", "гляциолог", "инженер жизнеобеспечения", "метеоролог", "оператор марсохода", "киберинженер", "штурман", "пилот дронов"]%}
{% if code=='ul' %}
	<ul>
	    {% for user in user_list %}
	    <li>{{ user }}</li>
	    {% endfor %}
	</ul>
{% elif code=='ol' %}
	<ol>
	   {% for user in user_list %}
	   <li>{{ user }}</li>
	   {% endfor %}
	</ol>
{% endif %}
</body>
</html>