<!DOCTYPE html>
       <html lang="en">
       <head>
            <meta charset="UTF-8">
            <title>Результаты</title>
       </head>
	 <body>
             <h1>Результаты отбора</h1>
		 <h2 style='background-color:#ff4d00'>Претендента на участие в миссии {{ nick }}:</h2>
             <h3 style='background-color:#42ff9e'>Поздравляем! Ваш рейтинг после {{ lvl }} этапа отбора;</h3>
    		 <h4 style='color:#ff0000'>Составляет {{ rate }}</h4>
		 <h2 style='background-color:#fcfbc0';font-size='14px'>Желаем удачи!!!</h2>
       </body>
</html>